@use "~/scss/" as *;
.header {
  height: 70px;
  @include Rowcenter;
}
.headerInner {
  display: flex;
  @include flex(row, space-around, center);
  .navigations {
    @include flex(row, center, center);
    li {
      display: inline-block;
      margin-right: 25px;
      a {
        color: $header-color-text;
      }
    }
  }
  .userAction {
    .userNotLogin {
      @include flex(row, center, center);
      a {
        display: inline-block;
        padding: 10px 18px;
        border-radius: 30px;
        text-align: center;
        background-color: #000;
        color: white;
      }
    }
  }
}
