@use "~/scss/" as *;
$from_color: #0065FD;

.body {

    background-image: url('../../../assets/images/3.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;


    @include tablet {}

    @include pc {
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: contain;

    }
}

.children {
    background-color: white;
    width: 283px;
    height: 376px;
    border-radius: 5px;

    @include tablet {
        height: 90%;
    }

    @include pc {
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
    }
}

.logo {
    display: block;
    display: flex;
    justify-content: center;

    img {
        width: 50px;
    }

    @include pc {
        display: none;
    }
}

.text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;

    @include pc {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: bold;
        margin-top: 50px;
    }

}

.h4 {
    text-align: center;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #646464;
    font-weight: 400;

    @include pc {
        text-align: center;
        padding: 15px 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: lighter;
    }


}

.from {
    width: 100%;
    height: auto;
}

.from_div {
    position: relative;
    text-align: center;
    margin-top: 5px;

    @include pc {
        margin-top: 10px;

    }
}

.box {
    min-height: 45px;

    @include pc {
        min-height: 92px;

    }
}



.input {
    border: 1px solid rgba(16, 15, 15, 0.396);
    border-radius: 5px;
    width: 254px;
    border-color: #9e9e9e;
    height: 27px;
    padding: 0 15px;
    font-size: 12px;
    font-weight: 300;
    transition: 0.25s ease;

    &:focus {
        border-color: #000000;
    }

    &:focus+.label {
        display: none;
    }

    &:not(:placeholder-shown)+.label {
        display: none;
    }



    @include tablet {
        &:focus+.label {
            left: 150px;
        }

        &:not(:placeholder-shown)+.label {
            left: 150px;
        }
    }

    @include pc {

        border: 2px solid rgba(74, 73, 73, 0.464);
        border-radius: 4px;
        width: 540px;
        height: 58px;
        padding: 0 20px;
        font-size: 16px;
        font-weight: 500;
        transition: 0.25s ease;


        &:focus {
            border-color: rgba(74, 73, 73, 0.464);
        }

        &:focus+.label {
            top: 0;
            left: 220px;
            padding: 10px;
            display: inline-block;
            background-color: white;
            color: #0f0f0f7e;
            border-color: #6f6f6f7e;
        }

        &:not(:placeholder-shown)+.label {
            top: 0;
            left: 220px;
            padding: 8px;
            display: inline-block;
            background-color: white;
            color: #0000007e;
            border-color: #5b5b5b7e;

        }
    }
}




.label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    user-select: none;
    font-size: 11px;
    color: #999;
    border-radius: 10px;
    pointer-events: none;
    transition: 0.3s ease;

    @include tablet {
        left: 105px;
        color: black;
    }

    @include pc {
        position: absolute;
        font-size: 16px;
        top: 50%;
        transform: translateY(-50%);
        left: 230px;
        user-select: none;
        color: #999;
        pointer-events: none;
        transition: 0.3s ease;
    }
}

.message {
    color: #fa3737db;
    padding: 2px 0 0 0;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 400;

    @include tablet {
        margin-left: 60px;
    }

    @include pc {
        color: #fa3737db;
        padding: 7px 0 10px 0;
        font-size: 14px;

        font-weight: 400;
        margin-left: 230px;
    }
}

.qmk {
    @include pc {
        padding: 0 0 10px 0;
    }
}

.qmk a {
    color: #0065FD;
    margin-left: 20px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;

    @include tablet {
        margin-left: 65px;
    }

    @include pc {
        color: #0065FD;
        margin-left: 230px;
        text-decoration: none;
        font-size: 15px;
    }
}

.button_ground {
    width: 100%;
    height: auto;
    display: flex;
    padding: 5px 0;

    @include pc {
        width: 100%;
        height: auto;
        display: flex;
        padding: 14px 0;
    }
}

.button {
    margin: 0 auto;
    background-color: #0065FD;
    width: 254px;
    height: 27px;
    border: none;
    font-size: 11px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    cursor: pointer;



    @include pc {
        margin: 0 auto;
        background-color: #0065FD;
        width: 540px;
        height: 58px;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        font-weight: 600;
        color: white;
        cursor: pointer;


    }
}

.or {
    text-align: center;
    color: #0000007e;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 0;

    @include pc {
        font-size: 16px;
        text-align: center;
        color: #0000007e;
        font-weight: 400
    }
}

.button_daf {
    border: 1.5px #004EC4 solid;
    background-color: white;
    margin: 0 auto;
    width: 254px;
    height: 27px;
    font-size: 11px;
    color: #0065FD;
    border-radius: 5px;
    font-weight: 600;
    position: relative;

    @include pc {
        width: 540px;
        font-size: 16px;

        height: 58px;
    }
}

.button_daf_img {
    width: 20px;
    left: 20px;
    position: absolute;

    @include pc {
        width: 40px;
        left: 20px;
        position: absolute;

    }
}

.register {
    padding: 10px 0;
    text-align: center;
    font-weight: 500;
    color: #5f5c5c;
    font-size: 12px;
    font-weight: 400;

    @include pc {
        padding: 30px 0;
        text-align: center;
        font-weight: 500;
        color: rgba(61, 61, 61, 0.571);
        font-size: 16px;
        font-weight: 400;
    }
}

.register a {
    text-decoration: none;
    color: #004EC4;

}