@use "~/scss/" as *;
$cl: #FFFFFF;
$color: #FCBB3E;
$button: #2E7D32;
$border: #D9D9D9;
$bluecolor: #195B97;
$bg-cl: #F4F9F9;

//
.container {
    padding-top: 20px;
    width: 100%;
    height: 100vh;
    background-color: $bg-cl;
}

.status {
    .back1 {
        display: flex;
        align-items: center;

        svg {
            margin-left: 30px;
        }

        h1 {
            margin: 0 auto;
        }
    }

    p,
    h2 {
        text-align: center;
        margin: 20px 0;
    }

    p:last-child {
        color: $color;
    }

    h2 {
        width: 535px;
        height: 80px;
        color: $cl;
        background-color: $button;
        line-height: 80px;
        border-radius: 8px;
        margin: 0 auto;
    }

}

//

.inforPayment {
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    a {
        p {
            text-align: center;
            margin: 20px 0;
            color: $bluecolor;
        }
    }
}

.row {


    @include tablet {
        display: flex;
        flex-direction: column;
    }

    @include pc {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
}

.inforUser {
    border: 1px solid $border;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;

    @include tablet {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    @include pc {
        width: 35%;
        margin-right: 20px;
        margin-bottom: 0;
    }

    h2 {
        color: $bluecolor;
        margin-bottom: 30px;
    }

    .user {
        margin-left: 30px;

        p {
            font-size: 22px;
        }
    }


}

.detail {
    border: 1px solid $border;
    border-radius: 5px;
    padding: 10px;

    @include tablet {
        width: 90%;
        margin: 0 auto;
    }

    @include pc {
        width: 65%;
    }

    h2 {
        color: $bluecolor;
        margin-bottom: 30px;
    }
}

.table,
.tr {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
}


.table>tr>td {
    padding: 10px;
    text-align: center;
    width: 33.3%;
    border: 1px solid black;
}

table>.tr {
    background-color: $bluecolor;
}