@use "~/scss/" as *;


.body {
    display: none;

    @include tablet {}

    @include pc {
        display: block;
        background-color: #CCF2F4;
    }
}

.container {
    display: none;

    @include tablet {}

    @include pc {
        width: $innerContent-width-pc;
        margin: 0 auto;
        min-height: 755px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        align-items: center;
        padding: 10px 10px;
    }
}

// fig cung wight
.container_mobie {
    display: block;
    min-width: $innerContent-width-mobile;
    min-height: 600px;
    background-color: #CCF2F4;
    padding: 0 10px;
    display: flex;
    align-items: center;

    @include tablet {}

    @include pc {
        display: none;
    }
}

.package {
    width: 320px;
    margin: 0 auto;
    min-height: 450px;
    background: #FFFFFF;
    position: relative;
    border-radius: 30px;

    @include tablet {}

    @include pc {
        min-width: 350px;

        min-height: 566px;
        background: #FFFFFF;
        position: relative;
        border-radius: 30px;
    }
}

.package_interest {
    width: 100%;
    height: auto;
    text-align: center;

    .interest_price {
        text-decoration: line-through;
    }

    span {
        color: #FF0000;
        font-weight: 600;
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .sale {
        width: 100px;
        height: 20px;
        margin: 0 auto;

        h4 {

            background-color: #FCBB3E;
            color: white;
            font-size: 14px;
            padding: 2px 0;
            text-align: center;
            border-radius: 10px;
        }
    }


}

.title {

    text-align: center;
    padding: 30px 0 10px 0;
    font-weight: 700;
    color: #FCBB3E;
    font-size: 26px;

    @include tablet {}

    @include pc {
        text-align: center;
        padding: 30px 0 10px 0;
        font-weight: 700;
        color: #FCBB3E;
    }
}


.package_info {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @include tablet {}

    @include pc {}
}



.package_option {
    width: 90%;
    border-bottom: 1px solid blanchedalmond;
    padding: 10px 0;
    font-size: 14px;

    .option {
        font-weight: 600;
    }

    @include tablet {}

    @include pc {
        width: 90%;
        border-bottom: 1px solid blanchedalmond;
        padding: 10px 0;

        .option {
            font-weight: 600;
        }
    }
}


// button package
.button_package {

    display: flex;
    justify-content: center;

    @include tablet {}

    @include pc {
        display: flex;
        justify-content: center;
    }
}

.button_free {
    min-height: 30px;
    min-width: 130px;
    font-size: 17px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px;
    background-color: #A4EBF3;
    position: absolute;
    bottom: 50px;
    cursor: pointer;


    @include tablet {}

    @include pc {
        min-height: 40px;
        min-width: 170px;
        font-size: 17px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 20px;
        border: 2.5px solid #195B97;
        background-color: #A4EBF3;
        position: absolute;
        bottom: 50px;
    }
}

.button_group {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    position: absolute;
    bottom: 50px;

    @include tablet {}

    @include pc {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        position: absolute;
        bottom: 50px;
    }
}

.button_buy {

    min-height: 30px;
    min-width: 130px;
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    background-color: #195B97;

    @include tablet {}

    @include pc {
        min-height: 40px;
        min-width: 140px;
        font-size: 17px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        border: 2.5px solid #7C9D96;

        border-radius: 20px;
    }
}

.button_seemode {
    min-height: 30px;
    min-width: 140px;
    cursor: pointer;

    font-size: 14px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px;
    color: white;
    background-color: #008E6F;

    @include tablet {}

    @include pc {
        min-height: 40px;
        min-width: 140px;
        font-size: 17px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 20px;
        color: white;
        border: 2.5px solid #7C9D96;
        background-color: #008E6F;
    }
}