@use "~/scss/" as *;


.container {
    display: none;

    @include tablet {}

    @include pc {
        min-height: 755px;
        background-image: url("../../assets//images/bgPac_pc.png");
        background-repeat: no-repeat;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        align-items: center;
        padding: 0 10px;
    }
}

// fig cung wight
.container_mobie {
    display: block;
    width: $innerContent-width-mobile;
    min-height: 800px;
    background-image: url("../../assets//images/bgPackage.png");
    padding: 0 10px;
    align-items: center;
    
    .content_swipper {
        .swiper-pagination {
            margin-top: 500px;
        }
    }

    @include tablet {}

    @include pc {
        display: none;
    }

    .more_option {
        width: 300px;
        height: 100px;
        background-color:  #195B97;
        text-align: center;
        border-radius: 20px;
        color: #F4F2DE;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-left: 34px;
        margin-bottom: 40px;

        button {
            margin-top: 12px;
            padding: 12px 20px;
            background-color: #008E6F;
            color: #F4F2DE;
            outline: none;
            border: none;
            border-radius: 20px;
            font-size: 1rem;
        }
    }
}

.package {
    width: 300px;
    min-height: 449px;
    background: #FFFFFF;
    position: relative;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin:  0 auto;
    overflow: hidden;


    .newPrice {
        text-decoration: none;
        font-size: 1.4rem;
        color: #FF0000;
        margin-bottom: 10px;
        text-align: center;
    }
    .oldPrice {
        text-align: center;
        text-decoration: line-through;
        font-size: 1rem;
    }
    .discount {
        text-align: center;
        background-color: #FCBB3E;
        margin: 0 auto;
        padding: 4px 12px;
        border-radius: 5px;
        margin-bottom: 12px;
    }
    @include tablet {}

    @include pc {
        min-height: 530px;
        background: #FFFFFF;
        position: relative;
        border-radius: 30px;
    }
}



.title {

    text-align: center;
    padding: 30px ;
    font-weight: bold;
    color: #008E6F;
    font-size: 2rem;

    @include tablet {}

    @include pc {
        text-align: center;
        padding: 30px 0 10px 0;
        font-weight: 700;
        color: #008E6F;
    }
}

.package_info {

    padding: 0 12px;
    margin-bottom: 20px;
    
    span {
        font-size: 1.2rem;
    }
    @include tablet {}

    @include pc {
        
    }


}

.package_info_text {
    text-decoration: solid;
    margin-bottom: 5px;
    padding-left: 24px;
    line-height: 1.4rem;
    font-size: 1rem;
    margin-top: 5px;
    @include tablet {}



    @include pc {
        text-decoration: solid;
        margin-bottom: 5px;
        list-style: none;
    }
}

.package_limit {

    margin-top: 5px;
    list-style: none;
    text-decoration: line-through;

    @include tablet {}

    @include pc {
        margin-top: 5px;
        list-style: none;
        text-decoration: line-through;
    }
}

// button package
.button_package {
    display: flex;
    justify-content: center;
    overflow: hidden;
    @include tablet {}

    @include pc {
        display: flex;
        justify-content: center;
    }
}

.button_free {
    min-height: 40px;
    min-width: 170px;
    font-size: 17px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    border: 2.5px solid #195B97;
    background-color: #A4EBF3;
    position: absolute;
    bottom: 50px;

    @include tablet {}

    @include pc {
        min-height: 40px;
        min-width: 170px;
        font-size: 17px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 20px;
        border: 2.5px solid #195B97;
        background-color: #A4EBF3;
        position: absolute;
        bottom: 50px;
    }
}

.button_group {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    bottom: 30px;
    margin-bottom: 35px;
    @include tablet {}

    @include pc {
        display: grid;
        grid-template-columns: 1fr 1fr;    
        bottom: 30px;
    }
}

.button_buy {
    min-height: 40px;
    min-width: 140px;
    font-size: 17px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    color: white;
    border: 2.5 solid #7C9D96;
    background-color: #195B97;

    @include tablet {}

    @include pc {
        min-height: 40px;
        min-width: 140px;
        font-size: 17px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 20px;
        color: white;
        border: 2.5 solid #7C9D96;
        background-color: #195B97;
    }
}

.button_seemode {
    min-height: 40px;
    min-width: 140px;
    font-size: 17px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    color: white;
    border: 2.5px solid #7C9D96;
    background-color: #008E6F;

    @include tablet {}

    @include pc {
        min-height: 40px;
        min-width: 140px;
        font-size: 17px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 20px;
        color: white;
        border: 2.5px solid #7C9D96;
        background-color: #008E6F;
    }
}