.container {
    height: 755px;
    background-color: #CCF2F4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.package {
    height: 530px;
    border-radius: 30px;
    background: #FFFFFF;
    position: relative;
    border-radius: 30px;
}

.title {
    text-align: center;
    padding: 30px 0 10px 0;
    font-weight: 700;
    color: #008E6F;
}

.package_info {
    padding: 0 70px;
}

.package_info_text {
    text-decoration: solid;
    margin-bottom: 5px;
}

.package_limit {
    margin-top: 5px;
    list-style: none;
    text-decoration: line-through;
}

// button package
.button_package {
    display: flex;
    justify-content: center;
}

.button_free {
    min-height: 40px;
    min-width: 170px;
    font-size: 17px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    border: 2.5px solid #195B97;
    background-color: #A4EBF3;
    position: absolute;
    bottom: 50px;
}

.button_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    position: absolute;
    bottom: 50px;
}

.button_buy {
    min-height: 40px;
    min-width: 140px;
    font-size: 17px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    color: white;
    border: 2.5 solid #7C9D96;
    background-color: #195B97;
}

.button_seemode {
    min-height: 40px;
    min-width: 140px;
    font-size: 17px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    color: white;
    border: 2.5px solid #7C9D96;
    background-color: #008E6F;
}