@use "~/scss/" as *;
$maincolor: #F4F9F9;
$bluecolor: #195B97;

.container {
    background-color: $maincolor;
}

.header {
    width: 100%;
    height: 70px;
    background-color: $bluecolor;
}

.heading {
    margin: 20px 0;
    text-align: center;
}

.h4 span {
    color: red;
    margin-right: 10px;

}

.h4 a {
    color: black;
    font-size: medium;
}

.inforUser {
    display: flex;
    justify-content: center;

}

.infor {
    margin: 10px;
}

.user {
    margin: 10px;
    font-size: 19px;
}

.user p:last-child {
    font-weight: bold;
}


table,
tr,
td {
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;

    @include tablet {
        width: 90%;
    }

    @include pc {
        width: 50%;
    }
}


table>tr>td {
    padding: 10px;
    text-align: center;
    width: 33.33%;
}

table>tr:first-child {
    background-color: $bluecolor;
}

.total {
    text-align: center;
    margin: 20px 0;
}

.total p {
    font-size: larger;
}

.pay {
    width: 90%;
    margin: 30px auto;
}

.step1 {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 30px 0;

    @include tablet {
        width: 100%;
    }

    @include pc {
        display: flex;
        justify-content: left;
    }
}

.methods {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}


.methods h3 {
    text-align: center;
}

.methods a img {
    height: 60px;

    @include tablet {
        height: 45px;
    }

    @include pc {
        height: 60px;
    }

}

.methods a img:hover {
    border: 3px solid red;
}

.click {
    display: flex;

    @include tablet {
        display: flex;
        flex-direction: column;
    }

    @include pc {
        display: flex;
        flex-direction: row;
    }
}

.click p {
    margin-right: 10px;
}

.click p:last-child {
    font-weight: bold;
}

.step2 {
    display: flex;
    justify-content: end;
}

.step2 input:first-child {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #5393CE;
    border: 1px solid #5393CE;
    color: #F4F9F9;
    font-weight: bold;
    margin-right: 5px;
}

.step2 a {
    width: 100px;
    height: 40px;
    color: #5393CE;
    font-weight: bold;
    text-decoration: none;
    line-height: 40px;
    margin-left: 10px;
}