@use "./variables" as *;

@mixin tablet {
  @media only screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin pc {
  @media only screen and (min-width: $pc-width) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-width){
    @content;
  }
}