@mixin flex($flex-direction, $align-item, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-item;
  justify-content: $justify-content;
}

@mixin Rowcenter {
  @include flex(row, center, center);
}