@forward "./variables";
@forward "./mixin";
@forward "./breakpoint";
@forward "./swiper";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
// use spacing common
.m-1 {
  margin: 10px !important;
}
